sphinx
pydata-sphinx-theme
myst-parser
numpydoc
nbsphinx
linkify-it-py
sphinx-design
sphinx-togglebutton
sphinx-notfound-page
sphinx-sitemap
sphinx-copybutton
sphinx-gallery
ablog>=0.11.8
pyalex
pre-commit
pyyaml
brainglobe-atlasapi
matplotlib
numpy
pooch
zarr